<div class="col-md-12 col-sm-12 col-xs-12" align="center">
    <h1 style="color: cyan;">HOME OF CHORES</h1>
    <div class="col-md-12">
        <div class="col-md-6 col-sm6 col-xs-6" routerLink="/client"><button>Proceed as a client</button></div>
        <div class="col-md-6 col-sm6 col-xs-6" routerLink="/tasker"><button>Sign up as a service provider</button></div>
    </div>

    <!-- <div class="nav">links</div> -->
    
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <img width="80%" src="../../assets/domlabor2_custom-c9a7c30f4e52eb15d47a5b0b59b39e15e7c49e3b.jpg">
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <p>We decided to start this business because we saw a need. Modern life demands that we be in 5 places at once and it’s exhausting. 
            Sometimes we all need a little help. That’s where we come in. We’ll stay in and wait for that delivery you’re expecting 
            that was supposed to be here last week, build that flat pack bookcase you’ve been meaning to sort out and then cut the grass all in 
            one go.
        </p>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <h2>SERVICES WE PROVIDE</h2>
        <ul class="col-md-12 col-sm-12 col-xs-12">
        <li><b>Electronics</b><br>
        Indoor & Outdoor repairs, Portable devices repairs</li>
        <li><b>Plumbing</b><br>
        Any and all plumbing services</li>
        <li><b>Deliveries / Errands</b><br>
        Supermarket or Soko deliveries, Personal errands</li>
        <li><b>Decorating</b><br>
        Paint work, Event set-up</li>
        <li><b>House / Pet sitting</b><br>
        House sitting, Pet sitting</li>
        <li><b>Assembly / Mounting</b><br>
        Installation of indoor or outdoor home appliances</li>
        <li><b>Moving</b><br>
        Logistics of home appliances within or outside the premises</li>
        <li><b>Cleaning</b><br>
        Laundry services, Household cleaning, compound cleaning</li>
        <li><b>Outdoor Help</b><br>
        Landscaping, Gardening, Farmimg</li>
        <li><b>Home Repairs</b><br>
        Roofing, Masonry repairs, Carpentry</li>
        </ul>
    </div>
</div>